html, body, h1, h2, h3, h4, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	color: #000000;
}

body {
	background-color: #FFFFEE;
	padding: 15px 15px 15px 15px;
}

h1, h2 {
	text-align: center;
	font-family: 'Permanent Marker', Palatino, serif;
	font-size: 48px;
	font-weight: bold;
}

h3, p {
	text-align: left;
	font-family: 'Josefin Sans', Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
}

p {
	color: #222222;
}

ul {
	color: #444444;
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
}

ul li {
	padding: 15px 15px 15px 15px;
	margin: 0 0 0 30px;
	display: inline;
}

.header {
	border: solid 5px #000000;
}

.indeces {
	font-family: 'Maven Pro', Helvetica, sans-serif;
}
