html, body, h1, h2, h3, h4, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}

body {
	border: solid 5px #000000;
	background-color: #FFFFEE;
}

h1 {
	text-align: center;
	font-family: 'Permanent Marker', Palatino, serif;
	font-size: 24px;
}

h2 {
	text-align: left;
	font-family: 'Josephin Sans', Helvetica, sans-serif;
	font-size: 18px;
}

p {
	color: #222222;
}

li {
	color: #444444;
}

li .indeces {
	margin:	0 15px 0 0;
	font-family: 'Maven Pro', Helvetica, sans-serif;
}
