html, body, h1, h2, h3, h4, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	color: #FFFFFF;
}

body {
	background-color: #555555;
	padding: 15px 15px 15px 15px;
}

.header {
	margin: 25px auto 25px auto;
	text-align: center;
	font-family: 'Gochi Hand', Palatino, serif;
	
}

.header h1 {
	font-size: 56px;
}

.header h1 a:hover {
	color: #EE2200;
}

.header h1 .selected {
	color: #0088FF;
}

.header h1 .selected:hover {
	color: #FFFFFF;
}

.header ul {
	padding-left: 20px;
	border-top: 6px solid #AAAAAA;
	border-bottom: 2px solid #AAAAAA;
	background-color: #222222;
	font-size: 28px;
}

.header ul li {
	padding: 5px 15px 5px 15px;
	display: inline;
}

.header ul li a {
	padding: 0px 15px 0px 15px;
}

.header ul li a:hover {
	border-top: 6px solid #EE2200;
	border-bottom: 2px solid #EE2200;
}

.header ul li .selected {
	border-top: 6px solid #0088FF;
	border-bottom: 2px solid #0088FF;
}

.header ul li .selected:hover {
	border-top: 6px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

.main {
	width: 900px;
	margin: 25px auto 25px auto;
	font-family: 'Josefin Sans', Helvetica, sans-serif;
}

.main h3 {
	margin-top: 32px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.main p {
	margin-top: 24px;
	font-size: 18px;
	text-align: justify;
	line-height: 18px;
}
